.announcement-bar {
    text-align: center;
    background: #882222;
    color: white;
    font-size: 17px;
    padding: 3px;
    font-weight: 600;
    text-decoration: none;
    @extend .libre;
    a {
        color: white;
    }
}

.mainheader {
    background: white;
    top: 0;
    z-index: 20;
    position: sticky;
    .top-header {
        @extend .col-12;
        height: 60px;
        grid-template-areas: 'menu brand brand brand brand brand brand brand brand brand brand search';
        .top-header-brand {
            grid-area: brand;
            .brand {
                font-size: 30px;
                color: $text;
                font-weight: 800;
                text-decoration: none;
            }
        }
        .top-header-menu {
            grid-area: menu;
        }
        .top-header-search {
            grid-area: search
        }
    }
    .bottom-header-wrapper {
        background: #eeeeee;
        border-top: 1px solid rgba(0,0,0,0.1)
    }
    .bottom-header {
        @extend .col-12;
        grid-template-areas: 'a menu menu menu menu menu menu menu menu menu menu b';
        .bottom-header-menu {
            grid-area: menu;
            display: flex;
        }
        height: 60px;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}

.bottom-nav-link {
    @extend .libre;
    color: $text;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    display: inline-flex;
    text-transform: uppercase;
    padding: 0 10px;
    align-items: center;
    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
    }
}
