
html {
    height: 100%;
    color: $text;
}

.no-margin {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
    &.align-center {
        align-items: center;
    }
    &.column {
        flex-direction: column;
    }
    &.center {
        justify-content: center;
    }
}

.col-12 {
    max-width: 1280px;
    margin: auto;
    display: grid;
    width: 100%;
    padding: 0 20px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 20px;
}

body {
    margin: 0;
    flex: 1;
    height: 100%;
    font-family: 'Merriweather', serif;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    .page-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

.libre {
    font-family: 'Libre Franklin', sans-serif;
}

.margin-left {
    margin-left: auto;
}

.uppercase {
    text-transform: uppercase;
}

hr {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1)
}